.container{
    max-width: 800px;
    margin: 150px auto;
    overflow: auto;
    min-height: 300px;
    padding: 20px 190px;
    border-radius: 10px;
}

.scd-pg-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    overflow: auto;
    max-width: 1300px;

}

.bg{
    background-color: #F2EC54;
    background-image: url(../images/image-1.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 100%;
    padding: 60px 0;
}

@media screen and (max-width: 2560px) {

    .bg{
        padding: 177px 0;
    }

}

@media screen and (max-width: 1440px) {
    .bg{
        padding: 125px 0;
    }
}

@media screen and (max-width: 43em) {
    .container{
        padding: 20px 100px;
    }
}

@media screen and (max-width: 500px) {
    .container{
        padding: 20px 30px;
    }
}